<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#333333">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#333333">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/reactJS")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
<!-- Modal -->
<div id="registrationModal" class="modal fade" role="dialog"></div>
<div id="authorizationModal" class="modal fade" role="dialog"></div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Phone Book", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <!-- Trigger the modal with a button -->
            <div id="logins"></div>
        </div>
    </div>
</div>
<div class="splash" data-speed="5" data-type="background" style="text-align: center">
    <br/>
    <br/>
    <br/>
    <br />
        <h1>Phone Book.</h1>
    <p class="lead">We are thinking when your are dreaming.</p>
    <a href="#content"><span class="glyphicon glyphicon-arrow-down"></span></a>
</div>
<div class="container body-content" style="padding-top: 100px">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - e100 application for bosses!</p>
    </footer>
</div>
@Scripts.Render("~/bundles/reactApp")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
