<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#333333">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#333333">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/reactJS")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
<!-- Modal -->
<div id="registrationModal" class="modal fade" role="dialog"></div>
<div id="authorizationModal" class="modal fade" role="dialog"></div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Phone Book", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <!-- Trigger the modal with a button -->
            <div id="logins"></div>
        </div>
    </div>
</div>
<div class="splash" data-speed="5" data-type="background" style="text-align: center">
    <br/>
    <br/>
    <br/>
    <br />
        <h1>Phone Book.</h1>
    <p class="lead">We are thinking when your are dreaming.</p>
    <a href="#content"><span class="glyphicon glyphicon-arrow-down"></span></a>
    <div class="container" style="font-size: 20px">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies dolor mi, non tristique purus tincidunt vel. Etiam cursus enim semper quam mattis pellentesque. Integer aliquet neque sed lacus imperdiet, at laoreet justo gravida. Vivamus aliquet purus a ex sodales ultricies. Ut vitae diam vel leo egestas lobortis ut a nulla. Sed sem neque, vehicula sed nibh id, vehicula elementum leo. In sit amet porttitor justo. Nam nibh mauris, congue sed dictum vel, sollicitudin faucibus massa. Donec et enim ipsum. Sed luctus urna quis nibh mollis, id euismod augue fringilla. Proin egestas, ante quis commodo elementum, odio neque efficitur ipsum, eu ornare diam justo id felis.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Sed varius vestibulum mauris, nec elementum quam consectetur porta. Maecenas vel dapibus tortor. Vivamus nec elementum ex, non varius ipsum. Fusce blandit odio lorem, vitae maximus elit laoreet eu. Duis felis nunc, cursus quis imperdiet non, luctus in arcu. Phasellus sed elementum urna. Duis justo nibh, egestas ut sollicitudin ac, feugiat a purus. Aenean vel magna sed magna congue rutrum et vitae orci. Cras id blandit tellus. Donec dapibus augue sem, non suscipit lacus viverra id. Etiam dapibus lectus quis erat tincidunt aliquet. Vivamus mi nibh, lacinia eu elementum at, facilisis ac neque. Nunc dui neque, tristique at cursus a, facilisis laoreet elit.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi sollicitudin maximus faucibus. Praesent cursus, augue sed congue consequat, dolor magna suscipit justo, sit amet vestibulum nulla eros nec libero. Maecenas sed consequat quam. Vestibulum blandit laoreet quam in lacinia. Maecenas sed orci nec neque pharetra pulvinar vitae a nisl. Sed vestibulum velit ac nunc consequat tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas at aliquam velit, vitae egestas nisi. Sed ut leo vitae justo condimentum semper eu nec diam.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Pellentesque et mauris dapibus, pharetra risus a, imperdiet metus. Vestibulum consequat tortor lacinia, semper dolor at, consectetur sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc nec neque sed elit bibendum maximus. Sed id lacinia felis, nec maximus nibh. Vivamus auctor, neque in laoreet auctor, ipsum massa placerat urna, pretium lobortis leo enim ut metus. Morbi varius hendrerit lacus et aliquet. Nunc id magna et risus mattis lacinia. In mattis nisi vel libero accumsan vestibulum. Nam ac orci sollicitudin, sagittis tellus vel, suscipit ipsum. Nam consequat tincidunt augue at finibus. Quisque pharetra rhoncus lectus ac elementum. Sed aliquet turpis nec est pellentesque dictum. Aliquam erat volutpat. Nullam rhoncus hendrerit urna, vitae bibendum dui hendrerit id.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Mauris suscipit bibendum diam quis blandit. Sed ut laoreet ex. Fusce auctor sed enim a pulvinar. Vivamus magna orci, cursus non libero nec, congue faucibus velit. Vestibulum elementum diam quis scelerisque suscipit. Aenean tempor viverra malesuada. Aenean ullamcorper, augue nec facilisis hendrerit, arcu risus feugiat ex, ut commodo erat purus in dolor. Duis imperdiet consequat cursus. In hac habitasse platea dictumst. Donec euismod nec nisi et blandit. Nulla sit amet ultricies diam. Nunc suscipit tincidunt velit id auctor. Duis hendrerit commodo augue et aliquet. Maecenas convallis sapien eu placerat mattis.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Duis egestas tincidunt velit tempus egestas. Sed turpis justo, tincidunt facilisis dolor et, consectetur scelerisque eros. Donec sagittis, mauris eu sagittis feugiat, eros turpis aliquet libero, in malesuada leo nibh vel lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean at semper velit, vitae malesuada ipsum. Nulla cursus luctus auctor. Maecenas scelerisque mi hendrerit sem facilisis placerat quis ac nisl. Nulla facilisi.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Nulla facilisi. Nunc malesuada scelerisque magna, non aliquet elit mattis vel. Curabitur efficitur cursus nisl, sagittis sagittis purus elementum sit amet. Praesent pretium lacus erat. Fusce risus lacus, viverra et dapibus vitae, congue ut ante. Sed rutrum eleifend felis porttitor rutrum. Praesent vulputate vestibulum justo ac tristique. Nunc elementum vestibulum augue sit amet pharetra. Suspendisse nibh erat, sagittis ac est ac, convallis tincidunt mi. Donec sagittis venenatis scelerisque. Cras elementum ultrices efficitur. Cras in metus eget neque pretium porttitor quis a nisi. Fusce a hendrerit purus, aliquam tincidunt nulla. Sed accumsan dolor pharetra hendrerit imperdiet.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Etiam eu hendrerit lectus. Vivamus semper tortor consectetur est tincidunt hendrerit. Sed eu metus nisi. Fusce vel posuere elit, at finibus mauris. Nullam laoreet sem sapien, id porttitor nibh ornare ut. Nulla non ligula quam. Phasellus rhoncus varius massa id egestas. Integer quis faucibus odio, vel finibus ex. Aliquam id tincidunt mauris. Etiam vitae tellus lectus. Donec fringilla, purus lobortis congue mollis, neque augue egestas purus, euismod ultrices metus felis eu magna.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Pellentesque hendrerit ipsum sit amet lorem maximus, tristique accumsan magna rutrum. Donec ut leo maximus, gravida sapien eu, aliquet erat. Sed accumsan nunc lorem, nec placerat augue suscipit vitae. Suspendisse ornare ante quis leo ultricies, et varius ipsum accumsan. Curabitur eget viverra sem, a ullamcorper eros. Donec eu condimentum arcu, non egestas libero. Etiam ac odio in metus viverra vestibulum. Suspendisse venenatis libero at sollicitudin euismod. Pellentesque tristique dolor ut viverra aliquam.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Donec aliquam tortor sed placerat volutpat. Suspendisse potenti. Mauris sit amet dui orci. Vestibulum eget dui id urna gravida finibus vitae vitae tortor. Nulla maximus, mi quis dignissim dignissim, dolor urna maximus sem, nec tristique felis dolor sit amet dui. Pellentesque ipsum sem, vestibulum vel ex ut, pretium luctus mi. Curabitur accumsan auctor consequat. Nunc consectetur ipsum blandit dolor vulputate, pulvinar suscipit nisi bibendum. Maecenas lacinia, tellus vel congue aliquet, dui risus tempus diam, ac molestie nunc orci in augue. Duis mattis tempor tortor, in sagittis nulla porta rutrum. Cras sed arcu in nibh tincidunt ullamcorper. Duis hendrerit dignissim viverra. Nunc rutrum, nisi imperdiet pretium tincidunt, purus sem tincidunt felis, et tincidunt ex elit porttitor velit. Nam iaculis, dolor sed tempus cursus, felis lectus tincidunt erat, condimentum blandit massa est vel nibh.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Aliquam scelerisque aliquet lacus. Donec ornare lacus nec scelerisque eleifend. Maecenas lobortis volutpat sapien, a molestie lorem. Maecenas sed ligula rutrum, tincidunt urna ut, fringilla odio. Nunc diam lectus, sollicitudin vel malesuada vel, congue id quam. Sed pulvinar nulla non urna dapibus feugiat. Donec nec tempus eros. Donec ornare turpis sed enim pretium, sed ullamcorper lorem efficitur.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Aliquam diam metus, accumsan aliquet elit ut, placerat porta quam. Ut tempus, metus in aliquam pulvinar, sapien risus sollicitudin turpis, et ultrices ante odio non nulla. Pellentesque feugiat facilisis libero, at vulputate ex tempor non. Fusce tempor leo sem, a ultricies ligula pretium in. Donec id libero ultricies, molestie elit vitae, mattis metus. Nulla facilisi. Ut sit amet ultricies odio, nec pulvinar augue. Vivamus cursus vulputate erat, nec tempus neque interdum ac.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Proin nec lacus consequat, hendrerit purus consequat, vehicula massa. Aliquam dictum, ante at rutrum pulvinar, nulla purus faucibus augue, in ullamcorper est dui sed est. Nulla facilisi. Proin vel convallis nibh. Cras pharetra accumsan orci et iaculis. Phasellus ipsum libero, tristique at orci ac, ultricies porttitor tortor. Ut eget rhoncus lacus, eu consectetur turpis. Nullam est ante, egestas id sem nec, vestibulum commodo nunc. Sed posuere metus eu lorem viverra, non convallis nulla lacinia.
        </p>
        <br /><br /><br /><br /><br /><br /><br /><br />
        <p>
            Integer vehicula orci in mauris dignissim, a maximus ante maximus. Aenean et velit ornare urna consectetur pharetra at in felis. Mauris enim tortor, feugiat quis elementum vitae, porta non turpis. Nulla facilisi. Aenean a nunc eu nibh faucibus varius eget eu ipsum. Donec a accumsan ante, vulputate finibus nisl. Nullam malesuada neque in urna varius, quis volutpat nisl dapibus. Morbi ut commodo leo, a imperdiet ante.
        </p>
    </div>


</div>
<div class="container body-content" style="padding-top: 100px">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - e100 application for bosses!</p>
    </footer>
</div>
@Scripts.Render("~/bundles/reactApp")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
